body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.menu {
    width: 20%; /* Menü sayfanın %20'sini kaplayacak */
    background-color: #84ae8a;
    padding: 15px;
    height: 100vh; /* Menü tam ekran yüksekliğinde olacak */
    position: fixed; /* Menü sabitlenecek */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-info {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Elemanları dikey hizala */
    align-items: center; /* Elemanları ortala */
}
.user-info .logo {
    width: 180px; /* Logonun genişliği */
    height: auto;
    margin-bottom: 10px; /* Kullanıcı adı ve soyadı ile logo arasındaki boşluk */
}
.menu ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 40px; /* Menü elemanlarını biraz aşağıya al */
}
.menu ul li {
    margin-bottom: 50px; /* Menü elemanları arasındaki boşluğu artır */
}
.menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;
}
.content {
    margin-left: 25%; /* Menü genişliği kadar boşluk bırak */
    padding: 15px;
    width: 70%; /* İçerik kısmı sayfanın %80'ini kaplayacak */
    box-sizing: border-box; /* İçerik kısmının doğru şekilde yerleşmesi için */
    margin-top: 50px; /* Üst bilgi alanının altında başla */
}
.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.stats div {
    width: 30%;
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
    font-size: 15px; /* Sayıların boyutunu 10px büyüttük */
    font-weight: normal; /* Yazının kalınlığını küçülttük */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Elemanları dikey hizala */
}
.stats div:nth-child(1) {
    background-color: darkkhaki; /* Toplam Sipariş Adedi divinin tamamının arka plan rengini yeşil yaptık */
}
.stats #stat1 {
    background-color:darkkhaki; /* Toplam Sipariş Adedi sayısının arka plan rengini yeşil yaptık */
}
.stats div:nth-child(2) {
    background-color: #84ae8a; /* Toplam Forma Adedi divinin tamamının arka plan rengini sarı yaptık */
}
.stats #stat2 {
    background-color: #84ae8a; /* Toplam Forma Adedi sayısının arka plan rengini sarı yaptık */
}
.stats div:nth-child(3) {
    background-color: orangered; /* 2023 Yılı Geliri divinin tamamının arka plan rengini kırmızı yaptık */
}
.stats #stat3 {
    background-color: orangered; /* 2023 Yılı Geliri sayısının arka plan rengini kırmızı yaptık */
}
.chart-canvas {
    width: 50% !important; /* Grafiğin genişliğini %100 oranında yap */
    height: auto !important; /* Yüksekliği otomatik olarak ayarla */
}
