body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu {
    width: 20%;
    background-color: #84ae8a;
    padding: 15px;
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.user-info .logo {
    width: 180px; 
    height: auto;
    margin-bottom: 10px; 
}

.menu ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 40px; 
}

.menu ul li {
    margin-bottom: 30px; 
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;
    padding: 4px; 
    border: 2px solid #6f9674; 
    border-radius: 8px; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.menu ul li a:hover {
    background-color: #6f9674; 
}

.content {
    margin-left: 25%; 
    padding: 15px;
    width: 70%; 
    box-sizing: border-box; 
    margin-top: 50px; 
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stats div {
    width: 30%;
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: normal; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.stats div:nth-child(1) {
    background-color: darkkhaki; 
}

.stats #stat1 {
    background-color:darkkhaki; 
}

.stats div:nth-child(2) {
    background-color: #84ae8a; 
}

.stats #stat2 {
    background-color: #84ae8a; 
}

.stats div:nth-child(3) {
    background-color: orangered; 
}

.stats #stat3 {
    background-color: orangered; 
}

.chart-canvas {
    width: 100% !important; 
    height: auto !important; 
}

.chart-container {
    display: flex;
    justify-content: space-between;
}

.chart-item {
    width: 48%; 
    position: relative; 
    margin-top: 40px; 
}

.chart-title {
    text-align: center;
    margin-bottom: 10px; 
}

select {
    width: 25%; 
    padding: 9px 18px; 
    border-radius: 12px;
    font-size: 14.4px;
    border: 1px solid #ccc;
    margin-bottom: 10px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

select:focus {
    outline: none; 
    border-color: #84ae8a; 
}