body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 20%; /* Menü sayfanın %20'sini kaplayacak */
    background-color: #84ae8a; /* Menü rengi */
    padding: 15px;
    height: 100vh; /* Menü tam ekran yüksekliğinde olacak */
    position: fixed; /* Menü sabitlenecek */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Elemanları dikey hizala */
    align-items: center; /* Elemanları ortala */
}

.user-info .logo {
    width: 180px; /* Logonun genişliği */
    height: auto;
    margin-bottom: 10px; /* Kullanıcı adı ve soyadı ile logo arasındaki boşluk */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 40px; /* Menü elemanlarını biraz aşağıya al */
}

.sidebar ul li {
    margin-bottom: 30px; /* Menü elemanları arasındaki boşluğu artır */
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;
    padding: 4px; /* Çevresini belirlemek için padding ekle */
    border: 2px solid #6f9674; /* Çevresini belirlemek için border ekle */
    border-radius: 8px; /* Köşeleri yuvarlat */
    transition: background-color 0.3s, border-color 0.3s; /* Geçiş efekti ekle */
}

.sidebar ul li a:hover {
    background-color: #6f9674; /* Hover durumunda daha koyu yeşil */
}

.content {
    margin-left: 25%; /* Menü genişliği kadar boşluk bırak */
    padding: 15px;
    width: 70%; /* İçerik kısmı sayfanın %80'ini kaplayacak */
    box-sizing: border-box; /* İçerik kısmının doğru şekilde yerleşmesi için */
    margin-top: 50px; /* Üst bilgi alanının altında başla */
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.chart-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-title {
    text-align: center;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px; /* Elemanlar arasındaki boşluk */
}

.input-item {
    flex: 1; /* Elemanların eşit genişlikte olmasını sağlar */
}

#update-prediction, #update-monthly-prediction {
    background-color: #84ae8a; /* Menü rengi */
    color: white;
    border: none;
    padding: 9px 18px; /* %10 oranında küçültülmüş padding */
    border-radius: 12px; /* Yuvarlak köşeler */
    cursor: pointer;
    font-size: 14.4px; /* %10 oranında küçültülmüş font-size */
    margin-top: 0; /* Margin-top kaldırıldı */
    width: 100%; /* Tam genişlik */
    margin-left: 35px; /* Butonu 35px sağa kaydır */
}

#update-prediction:hover, #update-monthly-prediction:hover {
    background-color: #6f9674; /* Hover durumunda daha koyu yeşil */
}

#prediction-input, #monthly-prediction-input, #city-select {
    width: 100%; /* Tam genişlik */
    padding: 9px 18px; /* Butonla aynı padding */
    border-radius: 12px; /* Butonla aynı yuvarlak köşeler */
    font-size: 14.4px; /* Butonla aynı font-size */
    border: 1px solid #ccc; /* Kenarlık ekleyin */
}

#prediction-input:focus, #monthly-prediction-input:focus, #city-select:focus {
    outline: none; /* Focus durumunda outline kaldır */
    border-color: #84ae8a; /* Focus durumunda kenarlık rengi */
}