body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 20%;
    background-color: #84ae8a;
    padding: 15px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info .logo {
    width: 180px;
    height: auto;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 40px;
}

.sidebar ul li {
    margin-bottom: 30px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;
    padding: 4px;
    border: 2px solid #6f9674;
    border-radius: 8px;
    transition: background-color 0.3s, border-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #6f9674;
}

.content {
    margin-left: 25%;
    padding: 15px;
    width: 70%;
    box-sizing: border-box;
    margin-top: 50px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.chart-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-title {
    text-align: center;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.input-item {
    flex: 1;
}

#update-prediction, #update-monthly-prediction {
    background-color: #84ae8a;
    color: white;
    border: none;
    padding: 9px 18px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14.4px;
    margin-top: 0;
    width: 100%;
    margin-left: 35px;
}

#update-prediction:hover, #update-monthly-prediction:hover {
    background-color: #6f9674;
}

#prediction-input, #monthly-prediction-input, #city-select {
    width: 100%;
    padding: 9px 18px;
    border-radius: 12px;
    font-size: 14.4px;
    border: 1px solid #ccc;
}

#prediction-input:focus, #monthly-prediction-input:focus, #city-select:focus {
    outline: none;
    border-color: #84ae8a;
}